<!doctype html>
<title>Сервис инвентаризации</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1>Текущий пользователь</h1>
</nav>
<section class="content">
  <header></header>
  <div class="flash">{{ user }}</div>
</section>

{% if user.role == 'administrator' %}
<nav>
  <h1>Список айтемов</h1>
</nav>
<section class="content">
  <header>
  </header>
  {% for item in items %}
    <div class="flash">{{ item }}</div>
  {% endfor %}
  <div class="flash"><a href="/add">Создать новый</a></br></br></div>
</section>
{% endif %}

<nav>
  <h1>Мои айтемы</h1>
</nav>
<section class="content">
  <header>
  </header>
  {% for myitem in myitems %}
    <div class="flash">{{ myitem }}</div>
  {% endfor %}
</section>
