<!doctype html>
<title>Сервис инвентаризации</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1>Текущий пользователь</h1>
</nav>
<section class="content">
  <header></header>
  <div class="flash">{{ user }}</div>
</section>

{% if user.role == 'administrator' %}
<nav>
  <h1>Список айтемов</h1>
</nav>
<section class="content">
  <header>
  </header>
  <table class="table table-hover">
      <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Public ID</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Meta</th>
      </tr>
      </thead>
      <tbody>
      {% for item in items %}
      <tr>
          <td>{{item.id}}</td>
          <td>{{item.public_id}}</td>
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>{{item.status}}</td>
          <td>{{item.meta}}</td>
          {% if item.status == 'free' %}
          <td><button type="submit" class="btn btn-primary" onclick="window.location.href = '/book?public_id={{ item.public_id }}';">Book</button></td>
          {% else %}
          <td><button type="submit" class="btn btn-primary" onclick="window.location.href = '/unbook?public_id={{ item.public_id }}';">Unbook</button></td>
          {% endif %}
          <td><button type="submit" class="btn btn-primary" onclick="window.location.href = '/broken?public_id={{ item.public_id }}';">Сломан</button></td>
      </tr>
      {% endfor %}
      </tbody>
  </table>

  <div><button type="submit" class="btn btn-primary" onclick="window.location.href = '/add';">Создать новый</button></div>
</section>
{% endif %}

<nav>
  <h1>Мои айтемы</h1>
</nav>
<section class="content">
  <header>
  </header>
  <table class="table table-hover">
      <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Public ID</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Meta</th>
      </tr>
      </thead>
      <tbody>
      {% for myitem in myitems %}
      <tr>
          <td>{{myitem.id}}</td>
          <td>{{myitem.public_id}}</td>
          <td>{{myitem.title}}</td>
          <td>{{myitem.description}}</td>
          <td>{{myitem.status}}</td>
          <td>{{myitem.meta}}</td>
          {% if myitem.status == 'free' %}
          <td><button type="submit" class="btn btn-primary" onclick="window.location.href = '/book?public_id={{ myitem.public_id }}';">Book</button></td>
          {% else %}
          <td><button type="submit" class="btn btn-primary" onclick="window.location.href = '/unbook?public_id={{ myitem.public_id }}';">Unbook</button></td>
          {% endif %}
          <td><button type="submit" class="btn btn-primary" onclick="window.location.href = '/broken?public_id={{ myitem.public_id }}';">Сломан</button></td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</section>
