<!doctype html>
<title>Сервис инвентаризации</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1>Текущий пользователь</h1>
</nav>
<section class="content">
  <header></header>
  <div class="flash">{{ user }}</div>
</section>

<nav>
  <h1>Список тасков</h1>
</nav>
<section class="content">
  <header>
  </header>
  <div class="flash"><a href="/add">Создать новый</a></br></br></div>
</section>

<nav>
  <h1>Мои таски</h1>
</nav>
<section class="content">
  <header>
  </header>
  {% for task in tasks %}
    <div class="flash">{{ task }}</div>
  {% endfor %}
</section>
